* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#2b2938;
}

.welcome-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  color: white;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.brand-name {
  color: white;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 6rem;
  font-weight: 600;
}

.wix-madefor-display-title {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2b3e;
  display: none;
  justify-content: center;
  align-items: center;
}